<div>
  <h1 class="font-bold text-4xl">Pages#index</h1>
  <p>Find me in app/views/pages/index.html.erb</p>
</div>
<%= link_to "Login here", new_user_session_path, class: "text-black hover:underline" %>
<%= link_to "Signup here", new_user_registration_path, class: "text-black hover:underline" %>